# Variables
- variables are used to store the value
- and the values can be changed

In [1]:
number = 100
number

100

In [1]:
number = 200
number

200

### **Note**
- python is step by step process
- Python will take last output as latest value
- In the above code, we are using the same variable number
- but number value changed 2 times
- first time 100
- second time 200
- latest value 200

In [3]:
NUMBER = 200
NUMBER

200

In [4]:
number, NUMBER

(200, 200)

In [29]:
NUMber = 300
NUMber

300

In [25]:
number123 = 400
number123

400

In [26]:
123number = 500
123number

SyntaxError: invalid decimal literal (3351802823.py, line 1)

123number - 500
123number

In [9]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [3]:
numb@er=800
numb@er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3606004640.py, line 1)

In [10]:
number one = 800
number one

SyntaxError: invalid syntax (2847865279.py, line 1)

In [30]:
number_one = 900
number_one

900

In [11]:
_=1000
_

# *important interview question*

1000

In [21]:
n1=100,200   #tuple
n1

(100, 200)

In [33]:
n2,n3=200

TypeError: cannot unpack non-iterable int object

In [16]:
n4,n5=100,200
n4,n5

n4
n5

200

In [6]:
n4,n5=100,200
n4,n5

(100, 200)

In [17]:
print(n4)
print(n5)
#without print, only last value will come

100
200

In [1]:
print(10), print(20)

10
20

(None, None)

In [34]:
number = 200  #w
NUMBER = 300  #w
NUMber = 400  #w   
number123 = 500 #w
123number = 600  #f
num%er = 700 #
number one = 800 #f
number_ = 900  #w
_=1000   #w
n1=100,200  #w
n2,n3=200  #f
n4,n5=100,200  #w
n1,_=200,300 #w
if, else, for, while, range  #f
True,true  # true w

SyntaxError: invalid decimal literal (4193901495.py, line 5)

In [13]:
n1,_=200,300

In [10]:
if = 100

SyntaxError: invalid syntax (2974327018.py, line 1)

In [ ]:
if, else, for, while,

In [ ]:
True true

- python variables are case sensitive
- variables can be declared as capital letters, variables
- variables can be declared as small leters
- variables cannot start with numbers (prefix)
- numbers can be suffix of the variables
- variables cannot have special characters except **underscore**
- only underscore is possible
- variables does not have space between the naming
- keywords cannot be used as variable
- two values can be assigned to a single variable 
- One value cannot assign to two  variable

In [13]:
n1,n2=200

TypeError: cannot unpack non-iterable int object

In [14]:
n1 = 200,300
n1

(200, 300)

In [7]:
n1,n2=200,300
n1,n2

(200, 300)

In [8]:
n1
n2

300

In [9]:
n1,n2

n1
n2

300

In [10]:
print(n1)
print(n2)

200
300

In [11]:
print(n1,n2)

200 300

In [15]:
print(100,200)

100 200

In [12]:
print(n1), print(n2)

200
300

(None, None)